header {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 5px;
}

.headerTop {
    background-color: azure;
    display: flex;
    justify-content: space-around;
}

.divIcons {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.divIcons img{
    width: 30px;
    height: fit-content;
    margin-right: 5px;
}

.Patologias {
    background-color: red;
    color: blue;
    padding: 5px;
    font-weight: bold;
}

h3 {
    color: dodgerblue;
    text-align: center;
}

.logoBrain {
    width: 200px;
}