.contatoHeader {
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.contatoHeader b {
    color: aliceblue;
}

.contatoHeader a {
    color: aliceblue;
    font-weight: bold;
}

header {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.headerTop {
    background-color: azure;
    display: flex;
    justify-content: space-evenly;
}

.divIcons {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.divIcons img {
    width: 30px;
    height: fit-content;
    margin: 5px;
}

.brainSteel {
    font-family: road-rage;
}

.tradeMark h1 {
    margin: 10px 0 0 0;
}

.tradeMark p {
    margin: 0 0 10px 0;
    font-weight: bold;
    font-style: italic;
}

.Patologias {
    background-color: red;
    color: blue;
    padding: 5px;
    font-weight: bold;
    border-radius: 15px;
}

h3 {
    color: dodgerblue;
    text-align: center;

}

.logoBrain {
    width: 110px;
    margin-left: 100px;
    padding: 5px 0 5px 0;
}

.menuResponsivo {
    display: flex;
    justify-content: center;
}

#checkbox-menu {
    position: absolute;
    opacity: 0;
    align-self: center;
    cursor: pointer;
}

.headerLabel {
    cursor: pointer;
    position: relative;
    display: flex;
    height: 38px;
    width: 38px;
    align-self: center;
    justify-content: center;
    background-color: black;
    border-radius: 15px;
    align-items: center;
}

label span {
    position: absolute;
    display: block;
    height: 5px;
    width: 70%;
    border-radius: 30px;
    background-color: dodgerblue;
    cursor: pointer;
    transition: 1s ease-out;
}

label span:nth-child(2) {
    top: 24px;
}

label span:nth-child(3) {
    top: 8px;
}

label span:nth-child(1) {
    top: 16px;
}

header ul {
    transition: 0.5s ease-in;
    list-style-type: none;
    border: 1px solid dodgerblue;
    padding: 0;
    height: 100%;
    position: absolute;
    left: 0px;
    background-color: black;
    width: 20vw;
    color: azure;
    font-weight: 600;
    margin: auto;
}

header ul li {
    padding: 5px;
    padding-left: 20px;
    cursor: pointer;
}

header ul li:hover {
    padding-left: 50px;
    border: 3px dodgerblue double;
    transition: 1s ease-in-out;
}

a {
    text-decoration: none;
    color: inherit;
}

#checkbox-menu:checked+label span:nth-child(3) {
    transition: 0.2s ease-in;
    transform: rotate(45deg);
    top: auto;
}

#checkbox-menu:checked+label span:nth-child(1) {
    opacity: 0;
    transition: 0s;
}

#checkbox-menu:checked+label span:nth-child(2) {
    transition: 0.2s ease-in;
    transform: rotate(-45deg);
    top: auto;
}

@media screen and (max-width: 500px) {

    .headerTop .divIcons {
        display: none;
    }

    header ul {
        width: 40vw;
    }

    .Patologias {
        max-width: 132px;
        border-radius: 25px;
    }
}